<!DOCTYPE html>
<html>
<head>
  <title>Recording Monitor{% if camera %} {{ camera.name|escape }}{% endif %}</title>
  <style>
  </style>
</head>
<body>
  {% if camera %}
  <h1>{{ camera.name|escape }}</h1>
  <img src="{{ camera.host }}/stream.mjpg" width="{{ camera.width }}" height="{{ camera.height }}" />
  {% else %}
  <div>Select a camera to display.</div>
  {% endif %}
  <ul class="camera-selection">
    {% for cam in cameras %}
      <li><a href="{{ cam.href }}">{{ cam.name|escape }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>
